<!DOCTYPE html>
<html>
<head>
<title>Foo Bar</title>
</head>
<body>
  <section>

    <h1>My First Heading</h1>
    <div class="main_block">

    <div class="inner_block">
        <img src=http://i.imgur.com/Xt6vUQD.jpg>
    </div>
    <button type="button" onclick="alert('Hello world!')">Skip 1!</button>


    <h1>My Second Heading</h1>
    <div class="inner_block">
        <img src=http://i.imgur.com/BqFMNlq.jpg >
    </div>

    <form action="/foo" method="get">
    <button type="submit" value="Send Email" />
    </form>
    <button type="button" onclick="alert('Hello world!')">Skip 1!</button>

</div>



<p>My first paragraph.</p>

</body>
</html>
