<!DOCTYPE html>
<html>
  <head>
    <title>Foo Bar</title>
  </head>
  <body>
    <script> 
function post_request() {
  var xhr = new XMLHttpRequest();
  xhr.open('POST', 'send-ajax-data.php');
  xhr.send(null);
}
    </script>
    <section>



      <div class="main_block">
        <style>
.image-wrapper {
  display: flex;
}
      .image {
        margin: 5px;
      }
        </style>
        <div class="image-wrapper">
          <div class="image">
            <img src=http://www.example.com/ alt="some text" style="width:80;height:80">
            <button type="button" onclick="alert('Hello world!')">Skip 1!</button>
          </div>
          <div class="image">
            <img src=http://imgur.com/gallery/NEu3W/>
            <button type="button" onclick="alert(document.cookie)">Skip 2!</button>
          </div>
        </div>
        <div class="inner_block">

  </body>
</html>
