<!DOCTYPE html>
<html>
<head>
<title>Foo Bar</title>
</head>
<body>
  <section>



    <div class="main_block">
    <style>
      .image-wrapper {
        display: flex;
      }
      .image {
        margin: 5px;
      }
    </style>
    <div class="image-wrapper">
      <div class="image">
        <img src=http://www.example.com/ alt="some text" style="width:80;height:80">
        <buttontype="button" onclick="alert('Hello world!')">Skip 1!</button>
      </div>
      <div class="image">
        <img src=http://imgur.com/gallery/NEu3W/>
        <buttontype="button" onclick="alert('Foo Bar!')">Skip 2!</button>
      </div>
    </div>
    <div class="inner_block">

</body>
</html>
